.header {
  background-color: $white-color;

  @media screen and (min-width: 360px) {
    padding: 13px 16px 13px 23px;
  }

  @media screen and (min-width: 768px) {
    padding: 13px 32px 13px 39px;
  }

  @media screen and (min-width: 1024px) {
    padding: 13px 60px 13px 67px;
  }

  .header__container {
    display: flex;

    max-width: 1170px;
    width: 100%;

    margin-right: auto;
    margin-left: auto;
  }
}