.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px;

  background-color: $white-color;
  border-radius: 10px;
  }

.card__item-list {
  margin: 0;

  text-align: center;
}


.card__image {
  margin-bottom: 20px;

  border-radius: 50%;
}

.card__item {
  &:not(:last-child) {
    margin-bottom: 10px;
  }


  max-width: 288px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @media screen and (min-width: 768px){
    max-width: 304px;
  }

  @media screen and (min-width: 1024px){
    max-width: 242px;
  }

  &:first-child {
    margin-bottom: 20px;
  }
}

.card-item-contact {
  text-decoration: none;
  color: inherit;
}

.card__item-text {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}