.card-section {
  padding-top: 140px;
  padding-bottom: 140px;

  background-color: $background-color;
}

.card-section__title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  text-align: center;
}

.card-container {
  display: grid;

  @media screen and (min-width: 360px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 20px;
  }

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 29px;
    grid-row-gap: 29px;
  }
}